<app-navbar></app-navbar>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-lg" style="width: 550px;">
        <div class="text-center">
            <img src="profile-circle.svg" class="rounded-circle mb-3" alt="Profile Picture">
            <h3 class="mb-1">John Doe</h3>
            <p class="text-muted">Survey Manager</p>
        </div>
        <hr>
        <div>
            <p><strong>Email:</strong> johndoe&#64;example.com</p>
            <p><strong>Role:</strong> Admin </p>
        </div>
    </div>
</div>