<app-navbar />
<br />
@if (isDashboardFiltered()) {
<div class="container">
  <div class="row">
    <!-- Reduce gutter spacing -->
    <div class="col-md-4">
      <app-average-score-card [scores]="[8, 7, 9, 6, 7, 8, 9]"></app-average-score-card>
    </div>
    <div class="col-md-4">
      <app-average-score-card [scores]="[8, 7, 9, 6, 7, 8, 9]"></app-average-score-card>
    </div>
    <div class="col-md-4">
      <app-average-score-card [scores]="[8, 7, 9, 6, 7, 8, 9]"></app-average-score-card>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-4 border">
      <h3 class="text-center">Sentiment Score Breakdown</h3>
      <app-gauge-chart></app-gauge-chart>
    </div>
    <div class="col-md-8 border">
      <h3 class="text-center">Average Score Breakdown</h3>
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
</div>
}
@else {
  <h1>Select a survey type and range</h1>
}